h5 {
    display: inline-block;
}

li div {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.btn {
    border-radius: 50%;
    background-color: #164e63;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}